<% wrap_layout :layout do %>
  <div class='post-preview'>
    <h1 class="post-title"><%= current_article.title %></h1>
    <h4 class="post-meta"><%= current_article.date.strftime('%B %e, %Y') %></h4>
  </div>
    <%= yield %>
  <div class='disqus_container'>
    <%= partial 'layouts/comments' %>
  </div>
<% end %>
