---
 title: Software Developer in St. George, UT
---

<% blog.articles.each_with_index do |article, i| %>
  <div class="post-preview">
    <% link_to article do %>
      <h2 class="post-title"><%= article.title %></h2>
    <% end %>
    <h4 class="post-meta"><%= article.date.strftime('%B %e, %Y') %></h4>
    <p class="post-subtitle"><%= article.summary(250, '...') %></p>
  </div>
<% end %>
